.trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f5;
    padding: 10px;
    background-color: transparent;
    position: relative;

    .item {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        width: 100%;
        background-color: #333;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
        min-height: 300px; // мінімальна висота блоку
        align-items: stretch; // щоб підблоки займали всю висоту

        &.reverse {
            flex-direction: row-reverse;

            .itemInfo {
                text-align: right;

                ul {
                    padding-right: 20px;
                    margin-bottom: 10px;

                    li {
                        margin-bottom: 5px;
                        font-size: 20px;
                        &::before {
                            content: "";
                        }
                        &::after {
                            content: "•";
                            padding-left: 5px;
                            color: #fff;
                        }
                    }
                }
            }

            .itemImage {
                margin-left: 0;
                margin-right: 20px;
                img {
                    transform: scaleX(-1);
                }
            }
        }

        .itemInfo {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            min-width: 300px; // мінімальна ширина інформаційного блоку
            min-height: 100%;

            .itemH2 {
                font-size: 38px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                font-size: 24px;
                line-height: 1.5;
                font-style: italic;
                margin-bottom: 10px;
            }

            ul {
                padding-left: 20px;
                margin-bottom: 10px;

                li {
                    margin-bottom: 5px;
                    font-size: 20px;
                    &::before {
                        content: "•";
                        padding-right: 5px;
                        color: #fff;
                    }
                }
            }
        }

        .itemImage {
            width: 40%;
            min-width: 250px; // мінімальна ширина картинки
            position: relative;
            overflow: hidden;
            margin-left: 20px;
            min-height: 300px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
                mask-repeat: no-repeat;
                mask-size: 100% 100%;
            }
        }
    }

    @media (max-width: 768px) {
        .item {
            max-width: 768px;
            flex-direction: row;

            &.reverse {
                .itemImage {
                    margin-right: 10px;
                }
                ul li {
                    font-size: 16px;
                }
            }

            .itemInfo {
                padding: 5px;
                flex: 1;
                min-width: 0; // дозволяє картинці займати ширину

                .itemH2 {
                    font-size: 20px;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 14px;
                    line-height: 1;
                }

                ul li {
                    font-size: 14px;
                }
            }

            .itemImage {
                width: 35%;
                min-width: 150px;
                margin-left: 10px;
                min-height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    /* mobile */
    @media (max-width: 576px) {
        .item {
            flex-direction: column !important;
            max-width: 100%;

            &.reverse {
                .itemInfo {
                    text-align: left;

                    ul {
                        padding-left: 5px;
                        li {
                            font-size: 12px;
                            &::before {
                                content: "•";
                                padding-right: 5px;
                                color: #fff;
                            }
                            &::after {
                                content: "";
                            }
                        }
                    }
                }

                .itemImage {
                    margin: 10px 0 0 0;
                    img {
                        transform: none;
                        -webkit-mask-image: none;
                        mask-image: none;
                    }
                }
            }

            .itemInfo {
                .itemH2 {
                    font-size: 18px;
                    margin-bottom: 6px;
                }

                p {
                    font-size: 12px;
                    line-height: 1;
                }

                ul {
                    padding-left: 5px;
                    li {
                        font-size: 12px;
                    }
                }

                Button {
                    width: 100%;
                }
            }

            .itemImage {
                width: 100%;
                height: 200px;
                margin: 10px 0 0 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-mask-image: none;
                    mask-image: none;
                    transform: none;
                }
            }
        }
    }
}
