.card {
    background: #111;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-4px);
    }
}

.imageWrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 22px;
    margin: 10px 0 6px 0;
    font-weight: 700;
}

.info {
    font-size: 16px;
    opacity: 0.85;
}

.price {
    font-size: 18px;
    margin: 8px 0;
    color: #e3061b;
    font-weight: bold;
}

/* кнопки */

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
}

.detailsBtn,
.enrollBtn {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* Детальніше */
.detailsBtn {
    background: #333;
    color: #eee;
    text-decoration: none;
    text-align: center;

    &:hover {
        background: #444;
    }
}

/* Записатися */
.enrollBtn {
    background: #e3061b;
    color: #fff;

    &:hover {
        background: #ff1a2a;
    }
}
