.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #000;
  color: #fff;
}

.card {
  background: #111;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid #222;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

input {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #1b1b1b;
  color: #fff;
}

.loginBtn {
  width: 100%;
  background: #e3061b;
  padding: 12px;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.error {
  margin-bottom: 10px;
  color: #ff3b3b;
  text-align: center;
}
