.wrapper {
    padding: 30px;
    color: #fff;
}

.title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;
}

.card {
    background: #111;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #222;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.row {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 5px;
        font-size: 16px;
        opacity: 0.8;
    }

    input,
    select {
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #333;
        background: #000;
        color: white;
    }
}

.saveBtn {
    margin-top: 10px;
    background: #e3061b;
    padding: 12px;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background: #ff1a2a;
    }
}

/* ===== TABLE ===== */

.tableContainer {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 12px;
        border-bottom: 1px solid #222;
        text-align: left;
    }

    th {
        background: #151515;
        font-weight: bold;
    }
}

.empty {
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}
