
.headerContainer {
  display: flex;
  flex-direction: column;
  background-color: #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #222;
  position: sticky;
}

.img {
  max-width: 100%;
  height: auto;
}

.h1Header {
  color: white;
  font-size: 28px;
  font-family: 'Story Script', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  line-height: 1.2;
}
