.trainers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f5f5f5;
    padding: 10px 10px;
    background-color: #222;

    .item {
        display: flex;
        max-width: 1080px;
        background-color: #333;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
        .itemInfo {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 20px;

            .itemH2 {
                font-size: 38px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                font-size: 24px;
                line-height: 1.5;
                font-style: italic;
                &::before {
                    content: "“";
                    font-size: 24px;
                    vertical-align: top;
                    margin-right: 5px;
                }
                &::after {
                    content: "”";
                    font-size: 24px;
                    vertical-align: bottom;
                    margin-left: 5px;
                }
            }
            ul {
                padding-left: 20px;
                margin-bottom: 20px;

                li {
                    margin-bottom: 5px;
                    font-size: 20px;
                    &::before {
                        content: "•";
                        padding-right: 5px;
                        color: #fff;
                    }
                }
            }
        }

        .itemImage {
            width: 40%;
            position: relative;
            overflow: hidden;
            margin-left: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;

                -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
                mask-repeat: no-repeat;
                mask-size: 100% 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .trainers {
        .item {
            max-width: 768px;
            .itemInfo {
                padding: 5px;

                .itemH2 {
                    font-size: 20px;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.2;
                }

                ul {
                    padding-left: 15px;
                    li {
                        font-size: 16px;
                    }
                }

                .itemImage {
                    width: 30%;
                    margin-left: 10px;
                }
            }
        }
    }
}
