.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
    width: 100%;
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    gap: 10px;
}

.pageBtn {
    background: #222;
    color: #fff;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        background: #333;
    }
}

.active {
    background: #e3061b !important;
    font-weight: bold;
}
