.filter {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    color: #fff;

    input,
    select {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        background: #222;
        border: 1px solid #333;
        color: #fff;
        border-radius: 6px;
    }

    button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #e3061b;
        border: none;
        color: #fff;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: #ff1a2a;
            transition: 0.2s;
        }
    }
}

.resetBtn {
    background-color: #444 !important;
    color: #eee !important;

    &:hover {
        background-color: #666 !important;
    }
}
