/* === Reset + Normalize === */

/* Базове обнулення */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
::before,
::after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Прибираємо outline */
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

/* Блочні елементи HTML5 */
nav,
footer,
header,
aside {
	display: block;
}

/* HTML і BODY */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100vw;              /* Повна ширина viewport */
    overflow-x: hidden;        /* Забирає горизонтальний скрол */
    font-size: 14px;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
	background-color: #222;

    /* Кастомний скролбар для Firefox */
    scrollbar-width: thin;
    scrollbar-color: #f5f5f5 #222;
}

/* Кастомний скролбар для Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 2px solid #222;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #ff6b6b; /* підсвітка при ховері */
}

/* Body */
body {
	min-height: 100%;
	font-family: inherit;
	overflow-x: hidden; /* тільки горизонтальний скрол */
}

/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
	margin-block: 0;
}

/* Параграфи */
p {
	margin-block: 0;
}
p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}

/* Списки */
:where(ul, ol):where([class]) {
	padding-left: 0;
}
:where(ul[class]) {
	list-style: none;
}
ul li {
	list-style: none;
}

/* Інше */
:where(dd[class]) {
	margin-left: 0;
}
:where(fieldset[class]) {
	padding: 0;
	border: none;
}
:where(address[class]) {
	font-style: normal;
}

/* Зображення та відео */
img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}
img {
	vertical-align: top;
}

/* Посилання */
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:where([class]) {
	display: inline-flex;
}

/* Кнопки */
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Input/textarea/select */
input,
textarea,
select,
button {
	font: inherit;
}
input::-ms-clear {
	display: none;
}

/* SVG */
:where([fill]:not([fill="none"], [fill^="url"])) {
	fill: currentColor;
}
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
	stroke: currentColor;
}
svg * {
	transition-property: fill, stroke;
}

/* Таблиці */
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
}

/* Reduce motion */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
