/* === Reset + Normalize === */

/* Базове обнулення */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
::before,
::after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Прибираємо outline */
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

/* Блочні елементи HTML5 */
nav,
footer,
header,
aside {
	display: block;
}

/* HTML і BODY */
html,
body {
	height: 100%;
	width: 100%;
	font-size: 14px;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}

/* Body */
body {
	min-height: 100%;
	font-family: inherit;
}

/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
	margin-block: 0;
}

/* Параграфи */
p {
	--paragraphMarginBottom: 24px;
	margin-block: 0;
}
p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}

/* Списки */
:where(ul, ol):where([class]) {
	padding-left: 0;
}
:where(ul[class]) {
	list-style: none;
}
ul li {
	list-style: none;
}

/* Інше */
:where(dd[class]) {
	margin-left: 0;
}
:where(fieldset[class]) {
	padding: 0;
	border: none;
}
:where(address[class]) {
	font-style: normal;
}

/* Зображення та відео */
img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}
img {
	vertical-align: top;
}

/* Посилання */
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:where([class]) {
	display: inline-flex;
}

/* Кнопки */
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Input/textarea/select */
input,
textarea,
select,
button {
	font: inherit;
}
input::-ms-clear {
	display: none;
}

/* SVG */
:where([fill]:not([fill="none"], [fill^="url"])) {
	fill: currentColor;
}
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
	stroke: currentColor;
}
svg * {
	transition-property: fill, stroke;
}

/* Таблиці */
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
}

/* Reduce motion */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}